<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <!--<script src="/asserts/Jqueryfile.js"></script>-->   

    <link rel="stylesheet" href="/asserts/styles.css">
    <title>Document</title>
</head>
<body>
    <div id="todo-list" class="page">
        
        <form>
            <input type="text" placeholder="enter" name="item">
                
            <button type="submit">suubmit</button>
        </form>

        <ul>
            <%for(var i =0; i< todo.length; i++){%>


            <li data-id= <%= todo[i]._id %> ><%= todo[i].item%></li>
         

            <%}%>

        </ul>


    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
     <script src="/asserts/jqueryfile.js"></script>
 <!-- <script src="https://jquery.com" 
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" 
        crossorigin="anonymous"></script> -->
  
</body>
</html>