<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/asserts/styles.css">
    <title>King Apartment</title>
</head>
<body>
    <div id="header" class="header">
        <h1>Wellcome To King Apartment</h1>
    </div>

    <div class="login">
        <button>Login</button>

        <!--<a href="index\signup"> <button data-idd="signup">SignUp</button> </a> -->
        <button id="s" data-idd="signup">SignUp</button>

    </div>
    <div>
        <p>get</p>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
     <script src="/asserts/jqueryfile.js"></script>
</body>
</html>