<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/asserts/ss.css">
    <title>kwadabuka Enterprise Poultry</title>
</head>
<body >
    
<div class="container">

    
    <div id="header" class="header">
        <h1>Wellcome To kwadabuka Enterprise Poultry Farm</h1>
    </div>

    <div class="heaad">

        <p><img src="/asserts/images/location.png"alt="image not supported" class="icons"  >:Kwadabuka</p>
        <p><img src="/asserts/images/call.png" alt="image not supported" class="icons">:0742464777</p>
        <p><img src="/asserts/images/mail.png" alt="image not supported" class="icons">:Kwadabuka@gmail.com</p>
       


        <div class="login">
            <img src="/asserts/images/person (2).png" alt="image not supported" class="personicon">
            <button>Login</button>
            <button id="s" data-idd="signup">SignUp</button>
        </div>
    
    </div>

    <div class="buttons">
        <button>HOME</button>
        <button>ABOUT</button>
        <button>SERVICE</button>
        <button>CONTACT US</button>
    </div>

    <br>

    <div class="cards">

        
        <div class="topdiv">
        <h1>FRESH HOME GROWN CHICKEN</h1><br>
        <p class="ptopdiv1">Get our fresh home grown chicken at lowest prices at Kwadabuka Poultry Farm.
           We know the importance of Producing high quality products for our clients  
        </p><br>

        <p class="ptopdiv2">
            We deliver orders to your door steps across South africa and you also have the option to
            come and order directly to our farm and our stores </p>
            

        </div>
        <div>
            <img src="/asserts/images/browchicken.jpg" alt="image not supported" 
            class="brownchicken"
            >

        </div>

    </div>
<br><br>


   
 <h1 class="both1">Order your chicken slaughterd or Unslaughterd</h1><br><br>
    <div class="cards">
        <div class="price">
                <h1> Unslaughterd</h1>
                <p ><img src="/asserts/images/whitechicken.jpg" alt="image not supported" ></p>
                <h1>R 100.00</h1>
                
            </div>

            <div class="price" >
                <h1>Slaughterd</h1>
            <p><img src="/asserts/images/images.jpg" alt="image not supported" ></p>
            <h1>R150.00</h1>
            </div>
       
        <!--<div class="my-custom-box">
            <div class="price" >
                <h1>Slaughterd</h1>
            <p><img src="/asserts/images/images.jpg" alt="image not supported" ></p>
            <h1>R150.00</h1>
            </div>
        </div>-->


    </div>



    <br><br>

    <div class="bottom">
        <h1>Be the fist to know about our new deals</h1><br>
        <p>
            Pleas subscribe to our website by signing up with your email to get our latest new deals and discounts
        </p><br>
    </div>

    <footer class="foot">
        <div>
        <p>Contucts</p>
        <p><img src="/asserts/images/location.png"alt="image not supported" class="icons"   >:Kwadabuka</p>
        <p><img src="/asserts/images/call.png" alt="image not supported" class="icons" >:0742464777</p>
        <p><img src="/asserts/images/mail.png" alt="image not supported"class="icons"  >:Kwadabuka@gmail.com</p>
       

        </div>
    </footer>

</div> 

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
     <script src="/asserts/Jqueryfile.js"></script>
</body>
</html>