<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <link rel="stylesheet" href="/asserts/styles.css">
    <title>kwadabuka Enterprise Poultry</title>
</head>
<body >
    
<div class="container">

    
    <div id="header" class="header">
        <h1>Wellcome To kwadabuka Enterprise Poultry</h1>
    </div>

    <div class="heaad">

        <p><img src="/asserts/images/location.png"alt="image not supported" style="background-color: red;"  >:Kwadabuka</p>
        <p><img src="/asserts/images/call.png" alt="image not supported" style="background-color: red;">:0742464777</p>
        <p><img src="/asserts/images/mail.png" alt="image not supported" style="background-color: red;">:Kwadabuka@gmail.com</p>
       


        <div class="login">
            <img src="/asserts/images/person (2).png" alt="image not supported" style="background-color: red; width: 40px;">
            <button>Login</button>
            <button id="s" data-idd="signup">SignUp</button>
        </div>
    
    </div>

    <div class="buttons">
        <button>HOME</button>
        <button>ABOUT</button>
        <button>SERVICE</button>
        <button>CONTUCT US</button>
    </div>

    <div class="cards">

        
        <div style="height: 600px; width: 600px; display: flex; align-content: center; display: block ; ">
        <h1 style="color: red;">FRESH HOME GROWN CHICKEN</h1><br>
        <p style="font-size:x-large;color: brown;">Get our fresh home grown chicken at lowest prices at Kwadabuka Poultry Farm.
           We know the importance of Producing high quality products fo our clients  
        </p>

        <p style="display: flex;justify-content: center;color: brown; font-size: x-large; font-weight: bolder;">
            We deliver orders to your door steps across South africa and you also have the option to
            come and order directly to our farm and and our stores </p>
            

        </div>
        <div>
            <img src="/asserts/images/browchicken.jpg" alt="image not supported" 
            style="height: 400px; width:600px;" 
            >

        </div>

    </div>

   
 <h1 style="display: flex; justify-content: center; color: red;">Order your chicken slaughterd or Unslaughterd</h1><br><br>
    <div class="cards">
       
        <div class="my-custom-box">
            <div class="price">
                <h1> Unslaughterd</h1>
                <img src="/asserts/images/whitechicken.jpg" alt="image not supported" style="width: 600px; height: 280px;">
                <h1>R 100.00</h1>
            </div>
        </div>
       

        <div class="my-custom-box">
            <div class="price" >
                <h1>Slaughterd</h1>
            <p><img src="/asserts/images/images.jpg" alt="image not supported" ></p>
            <h1>R150.00</h1>
            </div>
        </div>


    </div>
    <br><br>

    <div class="bottom">
        <h1 style="color: red;">Be the fist to know about our new deals</h1><br>
        <p style="color: brown; font-size: x-large;">
            Pleas substcribe to our website by signing up with your email to get our latest new deals and discounts
        </p><br>
    </div>

    <footer style="background-color: blueviolet;">
        <div>
        <p>Contucts</p>
        <p><img src="/asserts/images/location.png"alt="image not supported" style="background-color: red;"  >:Kwadabuka</p>
        <p><img src="/asserts/images/call.png" alt="image not supported" style="background-color: red;">:0742464777</p>
        <p><img src="/asserts/images/mail.png" alt="image not supported" style="background-color: red;">:Kwadabuka@gmail.com</p>
       

        </div>
    </footer>

</div> 

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
     <script src="/asserts/Jqueryfile.js"></script>
</body>
</html>