<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="/asserts/styles.css">
    <title>Document</title>
</head>
<body>
    <div id="" class="singup-page">
        <p>
            <span style="color:brown; 
            font-size: large;
            font-weight: bold;">
            SignUp Progress :</span>

            <span style="color: red;font-size: large ;">Email verification</span>
            <span>---------------</span>
            <span>Login details registratinon</span>
            <span>---------------</span>
            <span>Apartment profile registratiom</span>
            <span>----------------</span>
            <span>Finish</span>
        </p>
        
        <!--<form data-sid="email_verifyer" class="singup-form">
            
            <ul>
                <li>
                    <p>Fill in your email details</p>
                    <div>
                    <label for="email">email</label>
                    <input type="email" placeholder="Enter your email adress" name="email" class="emal-input" required><br>
                    </div>
                    
                    <label for="username">User Name</label>
                    <input type="text" placeholder="Create user name" name="username" ><br>
                    
                    <label for="password">Pass word</label>
                    <input type="password" placeholder="Enter your email password" name="password" class="password-input" required><br>
                    
                    <button type="submit">submit</button>
                </li>
             </ul>    
        </form>-->

<form data-sid="email_verifyer">

    <input type="text" class="email-input" name="email"/>
    <button type="submit" id="submitFromEmailVerityer">Submit</button>
</form>



    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
     <script src="/asserts/JqEvForm.js"></script>
 
</body>
</html>