.page{
    background-color: antiquewhite;
}
.header{
    justify-items: center;
    border-left: 200000px;
    background-color: red;
}
.login {
    display:block;
    margin-left: 1235px;  
}
.singup-form{
    display: flex;
    display: grid;
    justify-content: center;
    box-sizing: border-box;
    box-shadow: brown;
}

.singup-form input{
    display: flex;
    align-content: center;
    width: 300px;
    height: 40px;
  
}
.singup-page p{
    display: flex;
    justify-content: center;
}

.singup-form li{
    text-decoration: none;
}
